body{
    font-family: 'Roboto';
    margin: 0;
}

.hero-section{
    background-color: #1F2937;
    height: 580px;
}

.header{
    display: flex;
    height: 70px;
    gap: 200px;
}

.header-logo-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

.links-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    width: 500px;
    justify-content: space-evenly;
    display: flex;
    margin-right: 160px;
}

.header-link{
    display: inline-block;
}

.header-link a{
    color: rgba(247, 247, 247, 0.671);
    font-size: 20px;
    text-decoration: none;
}

.hero-section-main{
    display: flex;
    margin-top: 80px;
}

.description{
    display: inline-block;
}

.cats-banner{
    display: inline-block;
}