body{
    font-family: 'Roboto';
    margin: 0;
    margin-bottom: 500px;
}

.hero-section{
    background-color: #1F2937;
    height: 580px;
}

.header{
    display: flex;
    height: 70px;
    gap: 200px;
}

.header-logo-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    margin-right: 120px;
}

.header-logo:hover{
    cursor: pointer;
}

.links-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    width: 500px;
    justify-content: space-evenly;
    display: flex;
    margin-right: 160px;
}

.header-link{
    display: inline-block;
}

.header-link a{
    color: rgba(247, 247, 247, 0.671);
    font-size: 20px;
    text-decoration: none;
}

.header-link a:hover{
    text-decoration: underline;
}

.hero-section-main{
    display: flex;
    margin-top: 80px;
}

.description{
    display: inline-block;
    width: 450px;
    margin-left: 230px;
}

.description h1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.description p{
    color: rgba(247, 247, 247, 0.671);
    font-size: 18px;
    margin-top: 0;
}

.cats-banner{
    display: inline-block;
    margin-left: 138px;
}

.description button{
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 33px 8px 33px;
}

.description button:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);
    background-color: #025dee;
    cursor: pointer;
}

.breeds-section h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.types-of-breeds-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cat-imgs{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: solid 5px #3882F6;
    border-radius: 15px;
    transition: 0.15s;
}

.cat-imgs:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

.cat-imgs-div p{
    text-align: center;
}

.quote-section{
    background-color: #E5E7EB;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-section p span{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}